@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #100d38;
  color: white;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 120px;
  font-weight: 900;
}

.visits {
  border-radius: 20px;
  font-weight: 900;
  font-size: 60px;
}
